/*** TABLE STYLES ***/

table {
  font-family: "Trebuchet MS", sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #000;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

/* row color styles */
/* note: there are a total of 33 different postitions to style!!! */
/* note: in my opinion, adding 33 colors to table makes the document extremely unreadable. */

.accountant {
  color: #ff4d4d;
}

.ceo {
  color: #40bf40;
}

.junior_technical_author {
  color: #6666ff;
}

.software_engineer {
  color: #999900;
}

.integration_specialist {
  color: #00cccc;
}

.pre-sales_support {
  color: #ff7733;
}

.sales_assistant {
  color: #ff0080;
}

.senior_javascript_developer {
  color: #006600;
}

.regional_director {
  color: #0000ff;
}

.javascript_developer {
  color: #009999;
}

.personnel_lead {
  color: #994d00;
}

.customer_support {
  color: #800080;
}

.support_engineer {
  color: #cccc00;
}

.coo {
  color: #00e6ac;
}

.team_leader {
  color: #0099e6;
}

.developer {
  color: #999966;
}

.system_architect {
  color: #ee82ee;
}

.systems_administrator {
  color: #fa8072;
}

.senior_marketing_designer {
  color: #db7093;
}

.secretary {
  color: #000080;
}

.office_manager {
  color: #3cb371;
}

.director {
  color: #81a1ca;
}

.development_lead {
  color: #66cc00;
}

.junior_javascript_developer {
  color: #669999;
}

.post-sales_support {
  color: #ffd700;
}

.marketing_designer {
  color: #8d883f;
}

.cfo {
  color: #3366ff;
}

.technical_author {
  color: #ff00ff;
}

.support_lead {
  color: #00e699;
}

.data_coordinator {
  color: #808080;
}

.regional_marketing {
  color: #a64dff;
}

.financial_controller {
  color: #4d0000;
}

.cmo {
  color: #ff1493;
}


/*** FORM STYLES ***/

form {
  width: 33.33%;
  border: 2px solid #ddd;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  font-family: "Trebuchet MS", sans-serif;
}

form h1 {
  display: block;
  text-align: center;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  color: #5c5c5c;
  font-size: 30px;
}

form ul {
  list-style: none;
}

form li {
  display: block;
  padding: 5px;
  border-radius: 3px;
}

/* submit & reset button styles */

form #nested_list li {
  border: none;
  margin-bottom: 0px;
  text-align: center;
  display: inline-block;
}

form input[type="submit"] {
  background: #f2f2f2;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  color: #000;
}

form input[type="submit"]:hover {
  background: #ddd;
  color: #fff;
}
