/*** TABLE STYLES ***/

table {
  font-family: "Trebuchet MS", sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #000;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}


/*** FORM STYLES ***/

form {
  width: 33.33%;
  border: 2px solid #ddd;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  font-family: "Trebuchet MS", sans-serif;
}

form h1 {
  display: block;
  text-align: center;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  color: #5c5c5c;
  font-size: 30px;
}

form ul {
  list-style: none;
}

form li {
  display: block;
  padding: 5px;
  border-radius: 3px;
}

/* submit & reset button styles */

form #nested_list li {
  border: none;
  margin-bottom: 0px;
  text-align: center;
  display: inline-block;
}

form input[type="submit"] {
  background: #f2f2f2;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  color: #000;
}

form input[type="submit"]:hover {
  background: #ddd;
  color: #fff;
}
