/*** TABLE STYLES ***/

table {
  font-family: "Trebuchet MS", sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #000;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

/* row color styles */
/* note: there are a total of 33 different postitions to style!!! */

.accountant {

}

.ceo {

}

.junior_technical_author {

}

.software_engineer {

}

.integration_specialist {

}

.pre-sales_support {

}

.sales_assistant {

}

.senior_javascript_developer {

}

.regional_director {

}

.javascript_developer {

}

.personnel_lead {

}

.customer_support {

}

.support_engineer {

}

.coo {

}

.team_leader {

}

.developer {

}

.system_architect {

}

.systems_administrator {

}

.senior_marketing_designer {

}

.secretary {

}

.office_manager {

}

.director {

}

.development_lead {

}

.junior_javascript_developer {

}

.post-sales_support {

}

.marketing_designer {

}

.cfo {

}

.technical_author {

}

.support_lead {

}

.data_coordinator {

}

.regional_marketing {

}

.financial_controller {

}

.cmo {

}



/*** FORM STYLES ***/

form {
  width: 33.33%;
  border: 2px solid #ddd;
  margin: 50px auto;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  font-family: "Trebuchet MS", sans-serif;
}

form h1 {
  display: block;
  text-align: center;
  padding: 0px;
  margin: 0px 0px 20px 0px;
  color: #5c5c5c;
  font-size: 30px;
}

form ul {
  list-style: none;
}

form li {
  display: block;
  padding: 5px;
  border-radius: 3px;
}

/* submit & reset button styles */

form #nested_list li {
  border: none;
  margin-bottom: 0px;
  text-align: center;
  display: inline-block;
}

form input[type="submit"] {
  background: #f2f2f2;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 3px;
  color: #000;
}

form input[type="submit"]:hover {
  background: #ddd;
  color: #fff;
}
